<mat-toolbar>
  <button
    *ngIf="!showSidenav"
    class="menu-button"
    mat-icon-button
    (click)="showSidenav = true"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <button
    *ngIf="showSidenav"
    class="menu-button"
    mat-icon-button
    (click)="showSidenav = false"
  >
    <mat-icon>menu_open</mat-icon>
  </button>

  <a mat-button routerLink="/">Fake Money Sports Bets</a>

  <span class="spacer"></span>

  <span>$100000</span>
  <span>Jason</span>
  <span>placeholder img</span>

  <button color="primary" mat-raised-button (click)="signOut()">
    Sign Out
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [opened]="showSidenav" mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/">History</a>
      <a mat-list-item routerLink="/">Settings</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
