<mat-toolbar>
  <button
    *ngIf="!showSidenav"
    class="menu-button"
    mat-icon-button
    (click)="showSidenav = true"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <button
    *ngIf="showSidenav"
    class="menu-button"
    mat-icon-button
    (click)="showSidenav = false"
  >
    <mat-icon>menu_open</mat-icon>
  </button>

  <a mat-button routerLink="/">Fake Money Sports Bets</a>

  <span class="spacer"></span>

  <ng-container *ngIf="isAuthenticated">
    <span>{{ username }}</span>
    <span id="balance">{{ balance | currency }}</span>

    <button color="primary" mat-raised-button (click)="signOut()">
      Sign Out
    </button>
  </ng-container>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [opened]="showSidenav" mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/games">
        <mat-icon matListIcon>sports</mat-icon> Games
      </a>
      <a mat-list-item routerLink="/history">
        <mat-icon matListIcon>history</mat-icon> History
      </a>
      <a mat-list-item disabled>
        <mat-icon matListIcon>settings</mat-icon> Settings
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- ! remove after real socket data is implemented -->
    <div id="temporary-scoreboard">
      Scoreboard for {{ POC_SOCKET_DATA?.date }} (temporary content)
      <div
        *ngFor="let game of POC_SOCKET_DATA?.scoreboard"
        style="margin-bottom: 1rem"
      >
        <div class="team">
          Home: {{ game.home.name }} : {{ game.home.score }}
        </div>
        <div class="team">
          Away: {{ game.away.name }} : {{ game.away.score }}
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
