:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2.5rem;

  div.game {
    cursor: pointer;
    width: 15rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: {
      right: 1rem;
      bottom: 1rem;
    }

    div.label {
      margin-right: 0.5rem;
    }
  }
}
