<form [formGroup]="form" class="column" (submit)="signIn()">
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput type="text" formControlName="username" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" />
  </mat-form-field>

  <button
    type="submit"
    mat-raised-button
    color="primary"
    [disabled]="form.invalid"
  >
    Sign In
  </button>
</form>
